<!DOCTYPE html>
<html lang="en">
<head>
    <title>Parte 1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Practica Primera Parte">
    <meta name="keywords" content="Diseño web UMG"/>
    <link rel="stylesheet" href="../content/Estilo1.css">
    <style>

    </style>
</head>
<body class="body">
    <header class="header">
        <nav>
            <ul>
                <li class="active"><a href="#">Inicio</a></li>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Acerca De</a></li>
                <li><a href="#">Contactanos</a></li>
            </ul>
        </nav>
    </header>

    <div class="main">
        <div class="content">
            <article class="Top">
                <header>
                    <h2><a href="#">¿Que es el HTML5?</a></h2>
                </header>

                <footer>
                    <h5><i>Esto es posteado por Jeffry Ruano</i></h5>
                </footer>
                <content>
                    <p> Repasando lo basico de html5</p>
                    <p>HTML5 es un lenguaje semantico</p>
                </content>
            </article>
            <article class="bottom">
                <header>
                    <h2><a href="#">Introduccion a html5</a></h2> 
                </header>
                <footer>
                    <h5><i>Esto es posteado por Jeffry Ruano</i></h5>
                </footer>
                <content>
                    <p> Repasando lo basico de css3</p>
                    <p>¿Para que sirve css3?</p>
                    <p>El CSS sirve para definir detalles estatios de sitio web</p>
                </content>
            </article>

        </div>
        <aside class="top-sidebar">
            <h2>Navegacion</h2>
            <ul>
                <li class="active"><a href="#">Inicio</a></li>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Acerca De</a></li>
                <li><a href="#">Contactanos</a></li> 
            </ul>
        </aside>
        <aside class="bottom-sidebar">
            <div class="featured">
                <h2>Que es y para que sirve Javascript</h2>
                <p>Javascript es inlenguaje ligero</p>
                <a href="">Leer Mas</a>
            </div>
        </aside>
    </div>
    <footer class="footer">
        <p>Copyright JGRE</p>

    </footer>
</body>
</html>

